<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-controller="MovieController">
  <head>
    <title ng-bind="'Fastr - ' + details.Title"></title>
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
  </head>

  <body>
    <div class="container-fluid outerdiv" ng-app="myApp" ng-controller="MovieController">

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><b>Fastr</b> <span class="span-style">Movie Browser</span></a>
      </div>
    </div>
  </nav>

 

  <div class="animated zoomInRight">
    <div class="input-group search-bar">
      <input type="text" ng-model="search" ng-model-options="{ debounce: 800 }" onclick="select()" class="form-control" placeholder="Enter full movie name" autofocus />
      <span class="input-group-addon bar-style"><i class="glyphicon glyphicon-search"></i></span>
    </div>

    <div id="main-info" class="col-md-8">
      <div ng-if="!details">
        Loading results...
      </div>

      <div ng-if="details.Response==='True'">
        <img ng-src="{{ details.Poster=='N/A' ? 'http://placehold.it/150x220&text=N/A' : details.Poster }}" class="thumbnail animated flip movie-poster">

        <span class="span-outer">
          <a href="http://imdb.com/title/{{ details.imdbID }}" target="_blank">{{ details.Title }}</a>
        </span>, {{ details.Year }}

        <p><strong>Released on:</strong> {{ details.Released }} ({{ details.Runtime }})</p>

        <p>{{ details.Plot }}</p>

        <p class="outer-p">
          <div class="inner-p">
            <span class="label label-primary">Directors :</span> {{ details.Director }}
          </div>
          <div class="inner-p">
            <span class="label label-primary">Actors :</span> {{ details.Actors }}
          </div>
          <div class="inner-p">
            <span class="label label-primary">Genre :</span> {{ details.Genre }}
          </div>
        </p>

        <p class="outer-p-2">Ratings:
          <br>
          <strong>IMDb Rating</strong>: <span class="label label-success">{{ details.imdbRating }}</span>
          </p>

        
      </div>

      <div ng-if="details.Response==='False'">
        No results found.
      </div>
    </div>

    <div id="related-results" class="col-md-4 animated bounce related-results">
      <div ng-if="related.Response!=='False'">
        Related Results:
        <hr>

        <ul class="rel-results">
          <li ng-repeat="movie in related.Search">
            <a href="#" id="{{ $index + 1 }}" ng-click="update(movie)">{{ movie.Title }}</a>, {{ movie.Year }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
