/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: black;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: black;
  text-shadow: none; /* Prevent inheritence from `body` */
  border: 1px solid #fff;
}
#suggest-note {
	position: relative;
    z-index: 101;
    top: 50px;
    left: 0;
    right: 0;
    background: #e8562a;
    text-align: center;
    line-height: 2.5;
    overflow: hidden; 
    color: white;
    font-weight: 400;
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow:    0 0 5px black;
    box-shadow:         0 0 5px black;
}


#metascore-perfect{
    height: 50px;
    width: 50px;
    display: inline-block;
    font-size: 24px;
    font-family: Arial,Helvetica,sans-serif;
    font-style: normal;
    font-weight: bold;
    background-color: #66CC33;
    text-align: center;
    margin-right: 8px;
    
}

#metascore-green{
    height: 50px;
    width: 50px;
    display: inline-block;
    font-size: 30px;
    font-family: Arial,Helvetica,sans-serif;
    font-style: normal;
    font-weight: bold;
    background-color: #66CC33;
    text-align: center;
    margin-right: 8px;
}
#metascore-yellow{
    height: 50px;
    width: 50px;
    display: inline-block;
    font-size: 30px;
    font-family: Arial,Helvetica,sans-serif;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    margin-right: 8px;
    background-color: #FFCC33;
}
#metascore-red{
    height: 50px;
    width: 50px;
    display: inline-block;
    font-size: 30px;
    font-family: Arial,Helvetica,sans-serif;
    font-style: normal;
    font-weight: bold;
    color: #FFF;
    text-align: center;
    margin-right: 8px;
    background-color: #FF0000;
}

a.fill-div-perfect {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    padding-top: 9px;
    color: #FFF;
}
a.fill-div-normal {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    padding-top: 4px;
    color: #FFF;
}
a.fill-div-yellow {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    padding-top: 4px;
    color: #333;
}

.metascore-perfect{
    height: 50px;
    width: 50px;
    display: inline-block;
    font-size: 24px;
    font-family: Arial,Helvetica,sans-serif;
    font-style: normal;
    font-weight: bold;
    color: #FFF;
    padding-top: 9px;
    background-color: #66CC33;
    text-align: center;
    margin-right: 8px;
    
}
.metascore-green{
    height: 50px;
    width: 50px;
    display: inline-block;
    font-size: 30px;
    font-family: Arial,Helvetica,sans-serif;
    font-style: normal;
    font-weight: bold;
    color: #FFF;
    padding-top: 4px;
    background-color: #66CC33;
    text-align: center;
    margin-right: 8px;
}
.metascore-yellow{
    height: 50px;
    width: 50px;
    display: inline-block;
    font-size: 30px;
    font-family: Arial,Helvetica,sans-serif;
    font-style: normal;
    font-weight: bold;
    color: #333;
    padding-top: 4px;
    text-align: center;
    margin-right: 8px;
    background-color: #FFCC33;
}
.metascore-red{
    height: 50px;
    width: 50px;
    display: inline-block;
    font-size: 30px;
    font-family: Arial,Helvetica,sans-serif;
    font-style: normal;
    font-weight: bold;
    color: #FFF;
    padding-top: 4px;
    text-align: center;
    margin-right: 8px;
    background-color: #FF0000;
}

.metascore {
    display: table;
}

.metascore-inner {
    display:table-cell;
    vertical-align: middle;
}

.metascore-text {
    margin-left:5px;
    color: #333;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    text-decoration: underline;
}

.metascore-green, .metascore-yellow, .metascore-red, .metascore-perfect:hover {
    cursor:pointer;
}

.input-group.input-group-unstyled input.form-control {
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}
.input-group-unstyled .input-group-addon {
    border-radius: 4px;
    border: 0px;
    background-color: transparent;
}

a.navbar-gmm-logo{
	float: center;
	height: 50px;
	font-size: 18px;
	line-height: 20px;
	padding: 9px;
}

.navbar-nav > li > a.navbar-gmm-logo{
    padding-top: 7px;
    padding-bottom: 0px;
}

.btn-info {
	margin-bottom: 4px;
}

.campaign-container{
	border-radius: 25px;
	border-color: #FFFC00;
	border-style: solid;
	max-width: 500px;
}

.campaign-container .campaign{
	font-size: 24px;
	color: #FFFC00;
	font-weight: 300;
	margin-bottom: 0px;
}

.campaign-container .campaign-or{
	font-size: 25px;
	color: white;
	font-weight: 300;
}

.campaign-container .campaign-link{
	font-size: 24px;
	color: #FFFC00;
	font-weight: 300;

}
.row .panel-title {
  text-align: left;
  font-size: 15pt;
}

.row .panel-heading {
  padding: 10px 15px;
  height: 15%;
  overflow: hidden;
}

.row .panel-body {
  text-align: left;
  color: black;
  text-shadow: none;
}

.tab-content .row {
  margin-left:0px;
  margin-right:0px;
	
}

.panel-body .row{
  margin-left:0px;
  margin-right:0px;
}

.cover-container .row{
  margin-left:0px;
  margin-right:0px;
}

.panel-heading .close {
	color: #FFF;
	opacity: 1;
}
.container-fluid {
	padding-right: 0px;
	padding-left: 0px;
}

/*
 * Base structure
 */

h1 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
}

.contact-form h2 {
	font-size: 40px;
}

.contact-header h2 {
	font-size: 30px;
}

.container-fluid .navbar-header{
    margin-right: 0px;
}

html,
body {
  height: 100%;
  background-color: #E6EAED;
  background-image: url("blurredbackground29.jpg");
  background-size: cover;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}
body {
  color: black;
  text-align: center;
}

.contact-form {
    max-width: 1200px;
    text-align: left;
}

.about {
	font-size: 25px;
	margin-top: 30px;
	
}

.description {
	font-size: 20px;
	margin-top: 30px;
}

.mikas-contact {
	font-size: 17px;
}

.input-field {
	color: black;
}

.modal-body {
    color: black;
    text-shadow: none;
    text-align: left;
}

.modal-header {
    color: black;
}

.modal-dialog {
    margin: 20% auto;
}

.tipsButton {
	font-size: 15px;
	color: balck;
	text-shadow: none;
}

.textLink {
	color: black;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.site-wrapper-inner-title {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
  margin-top: 60px;
}

/* Padding for spacing */
.inner {
  padding: 30px;
  color: black;
}

/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
  width: 100%;
  margin: auto;
}


/*
 * Affix and center
 */

.nav-pills {
	margin-bottom: 10px;
	color: black;
}
.nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover{
	background-color: #4AD2F7;
	color: rgb(47, 47, 47);
}
.nav-pills li.active a {
	background-color: #4AD2F7;
	color: rgb(47, 47, 47);
}

button.list-group-item {
	color: black;
}

button.list-group-item:focus, button.list-group-item:hover {
    color: #0F0D0D;
    background-color: #5BB4CC;
}

.list-group-item {
	text-align: left;
	background-color: #4AD2F7;
	font-size: 12pt;
	border: none;
	
}

.col-sm-5 .list-group {
    padding-left: 0px;
    margin-bottom: 20px;
    max-width: 165px;
}

.list-group {
    padding-left: 0px;
    margin-bottom: 20px;
    max-width: 100%;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.43);
}

a.list-group-item {
	color: black;
}

a.list-group-item:focus, a.list-group-item:hover {
	color: #0F0D0D;
	background-color: #5BB4CC;
}

.service-provider-text {
	text-align: center;
	width: 100%;
}

.btn-link {
	padding: 0px 0px;
	font-size: 10pt;
}
.col-sm-5 {
	text-align: right;
}
.col-lg-10{
	padding-left:0px;
	padding-right: 0px;
}
.col-lg-2{
	text-align:left;
}
.jumbotron {
	padding: 0px 0px;
	background-color: transparent;
	color: black;
	margin-bottom: 0px;
}

.jumbotron h1{
	color: black;
	text-shadow: 0 1px 1px rgba(0,0,0,.5);
}

.lead{
	text-shadow: none;
}

.lead-result{
	font-size: 20pt;
	color: black;
}

.lead-other{
	font-size: 20px;
	color: black;
}

.higlight-result-text{
	font-weight: 400;
}
.service-link{
	font-size: 20px;
	color: black;
	font-weight: 400;
}

img {
    max-width: 100%;
    max-height: 100%;
}

#search_result_info {
	text-align: left;
	padding: 10px;
	color: #9D9D9D;
}

#other_service_results {
	text-align: left;
	padding: 10px;
	margin-left: 50px;
	color: #9D9D9D;
}

.small_search_bar_container {
	text-align: left;
	width: 100%;
}
.small_search_bar{
	width: 90%;
	font-size: 15pt;
	color: black;
}

.main_search_bar{
	width: 100%;
	font-size: 15pt;
	color: black;
}

.watch-this-box {
	margin-top: 0px;
	font-size: 15pt;
	padding-top: 15px;
}

.watch-now {
	font-size: 14pt;
}

.more-like-this {
	text-align: center;
	margin-top: 15px;
}

.glyphicon-play {
	font-size: 15pt;
	top: 3px;
	margin-right: 10px;
}

.play-icon {
	margin-right: 15%;
	
}

.col-xl-4, .col-md-6, .col-sm-6, .col-xs-12{
	padding-right:0px;
	padding-left:0px;
}

.col-lg-7, .col-md-7{
	padding-right: 0px;
}
.col-xl-4 {
	position:relative;
	min-height:1px;
	/*padding-right:15px;
	padding-left:15px*/
}

.plot-box {
	overflow-y: scroll;
}

.item-page-movie{
	display: table-row;
	height:100%;
}
.item-page-movie-col{
	display: table-cell;
	float:none;
}

.item-page-watch-now{
	position: absolute;
	bottom: 0px;
}

.item-page-movie-meta{
	position: absolute;
	top: 0px;
    font-size: 16px;
    
}


@media (min-width: 230px) {

  .col-md-2 {
	text-align: center;
  }
  .col-sm-5 {
	text-align: left;
  }
  .col-md-5 {
  	text-align: center;
  }
  
  .panel-default {
  	height: auto;	
  }
  
  .panel-info{
  	max-width: 90%;
  }
  
  .trailer{
  	max-width: 90%;
  }
  
  .plot-box {
	height: 100px;
	overflow: auto;
	margin-bottom: 10px;
  }
  .col-xl-4, .col-md-6, .col-sm-6, .col-xs-12{
	height: 635px;
  }
  
  .cover-thumbnail {
	height: 260px;
	margin-bottom: 10px;
  }
  
  .panel-heading {
    height: 10%;
  }
  .contact-form {
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .btn-info {
	margin-top: 20px;
  }
  .feedbackbox {
  	width: 70%;
  }
  
  .modal-dialog {
    width: 90%;
  }
  
  .col-sm-5 .list-group-item {
		font-size: 12pt;
		width: 100%;
	
	}
	
  .item-page-watch-now{
	position: relative;
  }
  
  .item-page-movie-meta{
	position: relative;
  }
  
  .item-page-movie-col{
	display: block;
  }
  
  #search_result_info {
	width: 100%;
  }
}

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner-title {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    max-width: 768px; /* Must be percentage or pixels for horizontal alignment */
  }
  .col-md-2 {
	text-align: center;
  }
  
  .panel-default {
  	height: 550px;	
  }
  .col-xl-4, .col-md-6, .col-sm-6, .col-xs-12 {
    height: 550px;
  }
  .col-sm-5 {
	text-align: right;
  }
  
  .panel-info{
  	max-width: 50%;
  }
  
  .trailer{
  	max-width: 50%;
  }
  
  .col-md-5 {
  	text-align: center;
  }
  
  .plot-box {
	height: 24%;
	overflow: auto;
	margin-bottom: 0px;
  }
  
  .cover-thumbnail {
	height: 47%;
	margin-bottom: 5px;
  }
  
  .panel-heading {
    height: 12%;
  }
  
  .panel-title {
	font-size: 13pt;
  }
  
  .contact-form {
    margin-left: 15%;
    margin-right: 15%;
  }
  
  .btn-info {
	margin-top: 0px;
  }
  
  .feedbackbox {
  	width: 50%;
  }
  .modal-dialog {
    width: 50%;
  }
  
  .watch-this-box .col-sm-5{
	  width: 47%;
	  padding-right: 8px;
  }
  .watch-this-box .col-sm-7{
	  width: 53%;
	  padding-right: 8px;
  }
  
  .col-sm-5 .list-group-item {
		font-size: 15px;
		width: 100%;
	
	}

	.watch-this-box {
		padding-top: 5px;
	}
	
	#search_result_info {
	width: 768px;
  }
  
  

}
.visible-xl-block {
	display:none!important;
}

@media (min-width: 992px) {
  .masthead,
  .cover-container {
    max-width: 960px;
  }
  .col-md-2 {
	text-align: left;
	width: 20%;
  }
  .col-md-5,
  .col-lg-5 {
	text-align: center;
  }
  .col-md-3 {
	width: 20%;
  }
  
  .watch-this-box .col-sm-5{
    width: 41.66666667%;
	padding-left: 15px;
  }
  
  .watch-this-box .col-sm-7{
    width: 58.33333333%;
	padding-left: 15px;
  }
  
  .panel-default {
  	height: 400px;	
  }
  
  .col-xl-4, .col-md-6, .col-sm-6, .col-xs-12{
	height: 400px;
  }
  
  .col-md-5 {
  	text-align: left;
  }
  
  .plot-box {
		height: 60%;
		overflow: auto;
  }
  
  .cover-thumbnail {
		height: 60%;
  }
  .panel-heading {
    height: 15%;
  }
  .panel-title {
		font-size: 15pt;
  }
  
  .feedbackbox {
  	width: 40%;
  }
	.col-sm-5 .list-group-item {
		  font-size: 12pt;
		  max-width: 165px;
	}
 
	.watch-this-box {
		padding-top: 15px;
	}
	
  .item-page-watch-now{
	position: absolute;
  }
  .item-page-movie-meta{
	position: absolute;
    /*height: 85%;
    overflow-y: auto;*/
    font-size: 12px;
  }
  .item-page-movie-col{
	display: table-cell;
  }
  #search_result_info {
	padding-left: 0px;
	padding-right: 0px;
	width: 960px;
  }
}


@media (min-width: 1200px) {
  .col-lg-4 {
	width: 50%;
  }
  .main_search_bar {
  	width: 80%;
  }
  .item-page-movie-meta{
    font-size: 16px;
    }
  .contact-form {
    margin-left: 20%;
    margin-right: 20%;
  }
  .modal-dialog {
    width: 30%;
  }
  .cover-container {
    max-width: 1150px;
  }
  .col-sm-5 .list-group-item {
		font-size: 12pt;
		width: 100%;
	}
	
  #search_result_info {
	width: 1150px;
  }
}

@media (min-width: 1600px) {
  .col-xl-4 {
	width: 50%;
  }
  .visible-xl-block {
	display:none!important;
  }
  
  .main_search_bar {
  	width: 60%;
  }
  
  .cover-container {
    max-width: 1200px;
  }
  #search_result_info {
	width: 1200px;
  }
}

/*
@media (min-width: 2000px) {
  .col-xl-4 {
	width: 33.33333333%;
  }
  .visible-xl-block {
	display:block!important;
  }
  
  .main_search_bar {
  	width: 60%;
  }
  
  .cover-container {
    max-width: 1600px;
  }
}
*/
@media (min-width: 2000px) {
  .col-xl-4 {
	width: 33.33333333%;
  }
  .visible-xl-block {
	display:none!important;
  }
  
  .main_search_bar {
  	width: 60%;
  }
  
  .cover-container {
    max-width: 1600px;
  }
  #search_result_info {
	width: 1600px;
  }
}
#txtarea {
	font-size: 15pt;
	width:90%;
	color: black;
	padding:0.5%;
	overflow:auto;
}

#txtarea_small {
	font-size: 15pt;
	width:100%;
	color: black;
	overflow:auto;
	margin-bottom: 10px;
}

#toppadding {
	padding: 20px;
}

.spinner {
  /*margin: auto auto;*/
  margin-bottom: 20px;
  width: 30px;
  height: 30px;
  position: relative;
}

p.widthlimit {
        width:75%;
        max-width:700px;
	text-align:justify;
}
p.widthlimit a {
	/*color: #ffffff;*/
	text-decoration:underline;
	color:#777777;
}

pre.plainpre {
	background-color: transparent;
	border: 0px;
	color: #ffffff;
}

